<h2>Kategorien</h2>
<div class="categories__wrapper">
    <div class="category__container">
        <div class="category">
            <img class="category__img" src="../assets/img/category_sale.webp">
            <p>Angebote</p>
        </div>
        <div class="category">
            <img class="category__img" src="../assets/img/category_course.webp">
            <p>Kurse</p>
        </div>
        <div class="category">
            <img class="category__img" src="../assets/img/category_culture.webp">
            <p>Kultur</p>
        </div>
        <div class="category">
            <img class="category__img" src="../assets/img/category_entertainment.webp">
            <p>Unterhaltung</p>
        </div>
        <div class="category">
            <img class="category__img" src="../assets/img/category_lastminute.webp">
            <p>Last Minute</p>
        </div>
        <div class="category">
            <img class="category__img" src="../assets/img/category_new.webp">
            <p>Neu</p>
        </div>
        <div class="category">
            <img class="category__img" src="../assets/img/category_relaxation.webp">
            <p>Entspannung</p>
        </div>
        <div class="category">
            <img class="category__img" src="../assets/img/category_museum.webp">
            <p>Museum</p>
        </div>
        <div class="category">
            <img class="category__img" src="../assets/img/category_sport.webp">
            <p>Sport</p>
        </div>
    </div>
</div>