<div class="nav-mobile">
    <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav-mobile-container">
        <a class="nav__item" href="./">Startseite</a>
        <a class="nav__item" href="./illustration">illustration</a>
        <a class="nav__item" href="./grafik">Grafik</a>
        <a class="nav__item" href="./uerber-mich">Über mich</a>
        <a class="nav__item" href="./kontakt">Kontakt</a>
    </div>
</div>
<div class="nav-desktop">
    <a class="nav__item nav__item--big" href="./">
        <img class="nav__item-img" src="../assets/img/joe_logo.png"></a>
    <a class="nav__item" href="./illustration">So funktioniert's</a>
    <a class="nav__item" href="./grafik">Sportanbieter</a>
    <a class="nav__item" href="./uerber-mich">Preise</a>
    <a class="nav__item" href="./kontakt">Partner werden</a>
</div>