<div class="nav-mobile">
    <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav-mobile-container">
        <a class="nav__item" href="./">Startseite</a>
        <a class="nav__item" href="./page 1">page 1</a>
        <a class="nav__item" href="./page 2">page 2</a>
        <a class="nav__item" href="./page-3">page 3</a>
        <a class="nav__item" href="./page-4">page 4</a>
    </div>
</div>
<div class="nav-desktop">
    <a class="nav__item nav__item--big" href="./">
        <img class="nav__item-img" src="../assets/img/logo.png"></a>
    <a class="nav__item" href="./page 1">page 1</a>
    <a class="nav__item" href="./page 2">page 2</a>
    <a class="nav__item" href="./page-3">page 3</a>
    <a class="nav__item" href="./page-4">page 4</a>
</div>