<div class="teaser__wrapper">
    <h1>Finde deine nächste Freizeitaktivität</h1>
    <p>Erlebe mehr: Events, Tipps und Ausflüge, die dich begeistern.</p>
    <form class="teaser__form row">
        <select class="event-location">
            <option>Wien</option>
            <option>Niederösterreich</option>
            <option>Oberösterreich</option>
            <option>Burgenland</option>
            <option>Steiermark</option>
            <option>Kärnten</option>
            <option>Salzburg</option>
            <option>Tirol</option>
            <option>Vorarlbergs</option>
        </select>
        <input class="event-date" type="date">
        <button class="event-submit" type="submit" aria-placeholder="jetzt entdecken">jetzt
            entdecken</button>
    </form>
</div>